In [2]:
import pandas as pd

df = pd.read_csv("archivo_unificado.csv")

df

,Unnamed: 0,fecha,sumTotal,hidraulico,termico,nuclear,renovable,importacion
0,0.0,2024-07-31T00:00:00.000-0300,19723.6,3777.6,9913.2,1669.3,2275.3,2088.2
1,1.0,2024-07-31T00:05:00.000-0300,19533.5,3696.6,9828.0,1678.5,2299.6,2030.8
2,2.0,2024-07-31T00:10:00.000-0300,19307.0,3631.4,9635.0,1678.7,2331.1,2030.8
3,3.0,2024-07-31T00:15:00.000-0300,19176.8,3742.4,9433.7,1675.5,2294.4,2030.8
4,4.0,2024-07-31T00:20:00.000-0300,18959.7,3771.5,9192.7,1678.8,2285.9,2030.8
...,...,...,...,...,...,...,...,...
1411,NaN,2024-08-05T00:45:00.000-0300,14467.3,2323.1,8363.0,1017.4,2156.4,607.4
1412,NaN,2024-08-05T00:50:00.000-0300,14338.7,2221.1,8363.8,1014.9,2166.2,572.7
1413,NaN,2024-08-05T00:55:00.000-0300,14261.2,2162.2,8301.0,1018.6,2155.1,624.3
1414,NaN,2024-08-05T01:00:00.000-0300,14039.8,2112.3,8209.2,1017.0,2143.7,557.6
1415,NaN,2024-08-05T01:05:00.000-0300,13986.4,2062.7,8145.9,1013.2,2136.4,628.2

In [4]:
df.rename(columns={"fecha":"timestamp"},inplace = True)

In [6]:
import datetime

In [13]:
df['fecha'] = pd.to_datetime(df['timestamp']).dt.date
df["hora"] = pd.to_datetime(df["timestamp"]).dt.strftime('%H:%M:%S')

dff = df[["timestamp","sumTotal","hidraulico","termico","nuclear","renovable","importacion","fecha","hora"]]

dff

dff.to_csv("unificado_final",index = False)